$UP_COLOR: #a49fff;
$DOWN_COLOR: #83bfff;

.chart-container {
  width: 100%;
  height: 100%;
  position: relative;

  .chart-menu {
    font-size: 14px;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    position: relative;
    border-bottom: 1px solid #eeeeee;

    a {
      cursor: pointer !important;
      color: #3e73e3 !important;
    }
  }

  .pic-example {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 110px;
    background-color: white;

    ul {
      display: block;
      padding: 0;
      margin: 0;
      font-size: 12px;
      border: 1px solid $border-color;

      li {
        display: flex;
        padding: 0;
        margin: 0;
        line-height: 26px;

        .circle {
          width: 10px;
          height: 10px;
          border-radius: 6px;
          margin: 0 8px;
          color: #6b6d7d;
          margin-top: 8px;
        }
      }

      .title {
        justify-content: center;
        background-color: #f5f5f5;
        line-height: 32px;
        border-bottom: 1px solid $border-color;
        color: #444444;
      }
    }
  }

  .no-data {
    width: 100%;
    height: 100% !important;
    padding-top: 180px;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
  }

  .link.up {
    stroke: $UP_COLOR;
  }

  .link.down {
    stroke: $DOWN_COLOR;
  }

  path.link {
    fill: none;
    stroke-width: 4px;

    .down {
      stroke: $DOWN_COLOR;
    }

    .up {
      stroke: $UP_COLOR;
    }
  }

  .node {
    circle {
      fill: none;
      stroke-width: 1.5px;
    }

    .down circle {
      stroke: $DOWN_COLOR;
    }

    .up circle {
      stroke: $UP_COLOR;
    }
  }

  .graph-box {
    width: 100%;
    height: 100%;
    margin: 0;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .graph-menu-card {
    position: absolute;
    display: none;
    top: -99px;
    left: -99px;
    background: transparent;
    width: 1px;
    height: 1px;
  }
}

// icon图标
@mixin before-icon {
  content: " ";
  width: 14px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 11px;
  margin-right: 8px;
}

.showAll_before {
  display: flex;
  align-content: center;
  &:before {
    @include before-icon;
    background-image: url("~@/assets/imgs/edit-icons/showAll.png");
  }

  &:hover {
    color: #3e73e3 !important;
    &:before {
      background-image: url("~@/assets/imgs/edit-icons/showAll_active.png");
    }
  }
}

.showUp_before {
  display: flex;
  align-content: center;
  &:before {
    @include before-icon;
    background-image: url("~@/assets/imgs/edit-icons/showUp.png");
  }

  &:hover {
    color: #3e73e3 !important;
    &:before {
      background-image: url("~@/assets/imgs/edit-icons/showUp_active.png");
    }
  }
}

.showDown_before {
  display: flex;
  align-content: center;
  &:before {
    @include before-icon;
    background-image: url("~@/assets/imgs/edit-icons/showDown.png");
  }

  &:hover {
    color: #3e73e3 !important;
    &:before {
      background-image: url("~@/assets/imgs/edit-icons/showDown_active.png");
    }
  }
}

.addUp_before {
  display: flex;
  align-content: center;
  &:before {
    @include before-icon;
    background-image: url("~@/assets/imgs/edit-icons/addUp.png");
  }

  &:hover {
    color: #3e73e3 !important;
    &:before {
      background-image: url("~@/assets/imgs/edit-icons/addUp_active.png");
    }
  }
}

.addDown_before {
  display: flex;
  align-content: center;
  &:before {
    @include before-icon;
    background-image: url("~@/assets/imgs/edit-icons/addDown.png");
  }

  &:hover {
    color: #3e73e3 !important;
    &:before {
      background-image: url("~@/assets/imgs/edit-icons/addDown_active.png");
    }
  }
}

.editLink_before {
  display: flex;
  align-content: center;
  &:before {
    @include before-icon;
    background-image: url("~@/assets/imgs/edit-icons/editLink.png");
  }

  &:hover {
    color: #3e73e3 !important;
    &:before {
      background-image: url("~@/assets/imgs/edit-icons/editLink_active.png");
    }
  }
}

.delLink_before {
  display: flex;
  align-content: center;
  &:before {
    @include before-icon;
    background-image: url("~@/assets/imgs/edit-icons/delLink.png");
  }

  &:hover {
    color: #3e73e3 !important;
    &:before {
      background-image: url("~@/assets/imgs/edit-icons/delLink_active.png");
    }
  }
}

.pickUp_before {
  display: flex;
  align-content: center;
  &:before {
    @include before-icon;
    background-image: url("~@/assets/imgs/edit-icons/pickUp.png");
  }

  &:hover {
    color: #3e73e3 !important;
    &:before {
      background-image: url("~@/assets/imgs/edit-icons/pickUp_active.png");
    }
  }
}

// 编辑关系弹窗
.relation-container {
  display: block;
  margin: 0 0 12px 0;
  border-bottom: 1px solid $border-color;
  padding: 0 0 6px 0;

  li {
    display: block;
    list-style: none;
    font-size: 14px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;

    .left {
      float: left;
      width: calc(100% - 290px);

      a {
        cursor: default !important;
      }
    }

    .mid {
      float: left;
      width: 150px;
      padding-right: 0;
      position: relative;
    }

    .right {
      padding-left: 10px;
      float: left;
      width: 130px;
    }

    .history-text {
      padding: 0;
      box-sizing: border-box;
      float: left;
      width: 210px;

      span + span {
        padding-left: 12px;
      }
    }
  }

  .showHistory {
    padding-top: 18px;
    color: #999999;
  }
}

.relation-container + .relation-container {
  border-bottom: none;
  margin: 12px 0 0 0;
  padding: 0;
}

.isExist-tip {
  position: absolute;
  color: $color-red;
  top: 0;
  left: 240px;
}
