.scrollbar_box {
  overflow-x: auto;
  overflow-y: auto;
}

.scrollbar_box::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border: none;
}

.scrollbar_box::-webkit-scrollbar-track {
  background-color: $color-white;
  border: none;
}

.scrollbar_box::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e0e3ea;
}
